#timeNow{
    margin-bottom: 15px
}
#datePickerStart{
    margin-bottom: 15px
}
#datePickerEnd{
    margin-bottom: 15px
}
#select{
    margin-bottom: 15px
}
#textArea{
    margin-bottom: 15px
}
#thoiGianDangKy{
    margin-bottom: 15px
}
#thoiGianNghi{
    margin-bottom: 15px
}
#nguoiDuocChon{
    margin-bottom: 15px
}
#lyDo{
    margin-bottom: 15px
}