.login-page{
  width: 100%!important;
  height: 100%!important;
}
.login-page .login-form{
  text-align: center!important;
  min-width: 300px!important;
  margin: 0!important;
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  padding: 20px!important;
  border: 2px solid #1890ff!important;
  border-radius: 5px!important;
  box-shadow: 2px 4px 6px #88dde1!important;
}
.login-page .login-form .login-image{
  width: 40px!important;
  height: 40px!important;
}
.ant-form-item-control{
  padding-bottom: 0px!important;
}
/* .avatar-uploader > .ant-upload {
  width: 200px;
  height: 200px;
  background-color: red;
} */